:host { 
  display: contents; 
}
.slide16943-container {
  min-height: 100vh;
}
.slide16943-slide16943 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(20, 25, 35, 1);
}
.slide16943-vector {
  top: -190px;
  left: 187px;
  width: 3540px;
  height: 1148px;
  position: absolute;
}
.slide16943-frame15 {
  top: 493px;
  left: 680px;
  width: 559px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16943-rectangle28 {
  top: 0px;
  left: 0px;
  width: 559px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 52.5px;
}
.slide16943-text {
  top: 26px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide16943-text2 {
  top: 357px;
  left: 959px;
  color: rgba(255, 255, 255, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide16943-frame3 {
  top: 626px;
  left: 680px;
  width: 559px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16943-rectangle281 {
  top: 0px;
  left: 0px;
  width: 559px;
  height: 88px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 52.5px;
}
.slide16943-text4 {
  top: 26px;
  left: 58px;
  color: rgba(255, 255, 255, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide16943-avatar2largestates {
  top: 293px;
  left: 825px;
  width: 139px;
  height: 139.39199829101562px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16943-ellipse20 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 139px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 1.4520000219345093px;
}
.slide16943-adobe-stock488243549converted2 {
  top: 25.984277725219727px;
  left: 13.679144859313965px;
  width: 110px;
  height: 112px;
  position: absolute;
  border-color: transparent;
  border-radius: 58.805999755859375px;
}
