<div class="slide16943-container">
  <div class="slide16943-slide16943">
    <img
      src="/assets/playground_assets/vector5556-ytnr.svg"
      alt="Vector5556"
      class="slide16943-vector"
    />
    <div class="slide16943-frame15">
      <img
        src="/assets/playground_assets/rectangle28i555-s5wm-200h.png"
        alt="Rectangle28I555"
        class="slide16943-rectangle28"
      />
      <span class="slide16943-text"><span>Join a Room</span></span>
    </div>
    <span class="slide16943-text2"><span>Tejaa</span></span>
    <div class="slide16943-frame3">
      <img
        src="/assets/playground_assets/rectangle28i555-x2br-200h.png"
        alt="Rectangle28I555"
        class="slide16943-rectangle281"
      />
      <span class="slide16943-text4"><span>Create a Room</span></span>
    </div>
    <div class="slide16943-avatar2largestates">
      <img
        src="/assets/playground_assets/ellipse20i555-ckxj-200h.png"
        alt="Ellipse20I555"
        class="slide16943-ellipse20"
      />
      <img
        src="/assets/playground_assets/adobestock488243549converted2i555-afl-200w.png"
        alt="AdobeStock488243549Converted2I555"
        class="slide16943-adobe-stock488243549converted2"
      />
    </div>
  </div>
</div>
