<div class="slide16939-container">
  <div class="slide16939-slide16939">
    <img
      src="/assets/playground_assets/vector5552-a8kr.svg"
      alt="Vector5552"
      class="slide16939-vector"
    />
    <img
      src="/assets/playground_assets/rectangle275552-8jxn-200h.png"
      alt="Rectangle275552"
      class="slide16939-rectangle27"
    />
    <img
      src="/assets/playground_assets/logo01115552-l5p-200h.png"
      alt="Logo01115552"
      class="slide16939-logo0111"
    />
    <div class="slide16939-textboxes">
      <img
        src="/assets/playground_assets/rectangle14i555-ioms-200h.png"
        alt="Rectangle14I555"
        class="slide16939-rectangle14"
      />
    </div>
    <button class="slide16939-nextbutton">
      <img
        src="/assets/playground_assets/rectangle14i555-uswp-200h.png"
        alt="Rectangle14I555"
        class="slide16939-rectangle141"
      />
      <span class="slide16939-text"><span>Next</span></span>
    </button>
    <div class="slide16939-font">
      <span class="slide16939-text2"><span>What is your name?</span></span>
    </div>
    <span class="slide16939-text4"><span>Tejaa</span></span>
  </div>
</div>
