:host { 
  display: contents; 
}
.slide16942-container {
  min-height: 100vh;
}
.slide16942-slide16942 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(20, 25, 35, 1);
}
.slide16942-vector {
  top: -190px;
  left: 187px;
  width: 3540px;
  height: 1148px;
  position: absolute;
}
.slide16942-font2 {
  top: 336px;
  left: 449px;
  width: 1023px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-text {
  color: rgba(255, 255, 255, 1);
  width: 1023px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide16942-font33 {
  top: 249px;
  left: 201px;
  width: 1519px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-text2 {
  color: rgba(255, 255, 255, 1);
  width: 1519px;
  height: auto;
  position: absolute;
  font-size: 60px;
  align-self: auto;
  font-style: 65 Medium;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide16942-avatar2largestates {
  top: 459px;
  left: 633px;
  width: 192px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-ellipse20 {
  top: 0px;
  left: 0px;
  width: 192px;
  height: 192px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
}
.slide16942-adobe-stock488243549converted2 {
  top: 33px;
  left: 19px;
  width: 151px;
  height: 154px;
  position: absolute;
  border-color: transparent;
  border-radius: 81px;
}
.slide16942-avatar1largestates {
  top: 461px;
  left: 402px;
  width: 192px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-ellipse19 {
  top: 0px;
  left: 0px;
  width: 192px;
  height: 192px;
  position: absolute;
  border-color: rgba(176, 176, 176, 1);
  border-style: solid;
  border-width: 2px;
}
.slide16942-adobe-stock488243549converted1 {
  top: 22px;
  left: 30px;
  width: 142px;
  height: 167px;
  position: absolute;
  border-color: transparent;
  border-radius: 55px;
}
.slide16942-avatar3largestates {
  top: 461px;
  left: 864px;
  width: 192px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-ellipse24 {
  top: 0px;
  left: 0px;
  width: 192px;
  height: 192px;
  position: absolute;
  border-color: rgba(176, 176, 176, 1);
  border-style: solid;
  border-width: 2px;
}
.slide16942-adobe-stock488243549converted3 {
  top: 31px;
  left: 28px;
  width: 143px;
  height: 159px;
  position: absolute;
  border-color: transparent;
  border-radius: 55px;
}
.slide16942-avatar6 {
  top: 461px;
  left: 1095px;
  width: 192px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-ellipse25 {
  top: 0px;
  left: 0px;
  width: 192px;
  height: 192px;
  position: absolute;
  border-color: rgba(176, 176, 176, 1);
  border-style: solid;
  border-width: 2px;
}
.slide16942-adobe-stock488243549converted4 {
  top: 31px;
  left: 36px;
  width: 121px;
  height: 159px;
  position: absolute;
  border-color: transparent;
  border-radius: 48px;
}
.slide16942-avatar7 {
  top: 461px;
  left: 1326px;
  width: 192px;
  height: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-ellipse26 {
  top: 0px;
  left: 0px;
  width: 192px;
  height: 192px;
  position: absolute;
  border-color: rgba(176, 176, 176, 1);
  border-style: solid;
  border-width: 2px;
}
.slide16942-adobe-stock488243549converted5 {
  top: 35px;
  left: 27px;
  width: 125px;
  height: 157px;
  position: absolute;
  border-color: transparent;
  border-radius: 59px;
}
.slide16942-nextbutton {
  top: 762.25px;
  left: 844.25px;
  width: 232px;
  height: 82.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16942-rectangle14 {
  top: 0px;
  left: 0px;
  width: 232px;
  height: 82px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 2.484375px;
  border-radius: 65.21484375px;
}
.slide16942-text4 {
  top: 19.5px;
  left: -4.5px;
  color: rgba(255, 255, 255, 1);
  width: 241px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
