<div class="slide16938-container">
  <div class="slide16938-slide16938">
    <img
      src="/assets/playground_assets/vector5551-7n3q.svg"
      alt="Vector5551"
      class="slide16938-vector"
    />
    <img
      src="/assets/playground_assets/rectangle275552-79yp-200h.png"
      alt="Rectangle275552"
      class="slide16938-rectangle27"
    />
    <img
      src="/assets/playground_assets/logo01115552-qkqq-200h.png"
      alt="Logo01115552"
      class="slide16938-logo0111"
    />
    <div class="slide16938-textboxes">
      <img
        src="/assets/playground_assets/rectangle14i555-q66e-200h.png"
        alt="Rectangle14I555"
        class="slide16938-rectangle14"
      />
    </div>
    <div class="slide16938-font">
      <span class="slide16938-text"><span>What is your name?</span></span>
    </div>
    <span class="slide16938-text2"><span>-Type here-</span></span>
    <button class="slide16938-nextbutton">
      <img
        src="/assets/playground_assets/rectangle14i555-p1m-200h.png"
        alt="Rectangle14I555"
        class="slide16938-rectangle141"
      />
      <span class="slide16938-text4"><span>Next</span></span>
    </button>
  </div>
</div>
