:host { 
  display: contents; 
}
.slide16938-container {
  min-height: 100vh;
}
.slide16938-slide16938 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(20, 25, 35, 1);
}
.slide16938-vector {
  top: -190px;
  left: 187px;
  width: 3540px;
  height: 1148px;
  position: absolute;
}
.slide16938-rectangle27 {
  top: 503.20001220703125px;
  left: 875px;
  width: 170px;
  height: 74px;
  opacity: 0.00;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 0.6000000238418579px;
  border-radius: 10.5px;
}
.slide16938-logo0111 {
  top: 523.2000122070312px;
  left: 912.80078125px;
  width: 94px;
  height: 34px;
  opacity: 0.00;
  position: absolute;
  border-color: transparent;
}
.slide16938-textboxes {
  top: 522px;
  left: 721px;
  width: 479px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16938-rectangle14 {
  top: 0px;
  left: 0px;
  width: 479px;
  height: 55px;
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
}
.slide16938-font {
  top: 415px;
  left: 794px;
  width: 343px;
  height: 78px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16938-text {
  color: rgba(255, 255, 255, 1);
  width: 343px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: left;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide16938-text2 {
  top: 535px;
  left: 735px;
  color: rgba(158, 158, 158, 1);
  width: 111px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.slide16938-nextbutton {
  top: 609px;
  left: 883px;
  width: 155px;
  height: 55px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.slide16938-rectangle141 {
  top: 0px;
  left: 0px;
  width: 155px;
  height: 55px;
  position: absolute;
  border-color: rgba(176, 176, 176, 1);
  border-style: solid;
  border-width: 1.65625px;
  border-radius: 43.4765625px;
}
.slide16938-text4 {
  top: 13px;
  left: 22px;
  color: rgba(158, 158, 158, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: 55 Roman;
  text-align: center;
  font-family: Neue Haas Grotesk Display Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
