<div class="slide16941-container">
  <div class="slide16941-slide16941">
    <img
      src="/assets/playground_assets/vector5554-qck.svg"
      alt="Vector5554"
      class="slide16941-vector"
    />
    <div class="slide16941-avatar1largestates">
      <img
        src="/assets/playground_assets/ellipse19i555-keh-200h.png"
        alt="Ellipse19I555"
        class="slide16941-ellipse19"
      />
      <img
        src="/assets/playground_assets/adobestock488243549converted1i555-hymf-200w.png"
        alt="AdobeStock488243549Converted1I555"
        class="slide16941-adobe-stock488243549converted1"
      />
    </div>
    <div class="slide16941-avatar2largestates">
      <img
        src="/assets/playground_assets/ellipse20i555-jkfr-200h.png"
        alt="Ellipse20I555"
        class="slide16941-ellipse20"
      />
      <img
        src="/assets/playground_assets/adobestock488243549converted2i555-qprd-200w.png"
        alt="AdobeStock488243549Converted2I555"
        class="slide16941-adobe-stock488243549converted2"
      />
    </div>
    <div class="slide16941-avatar3largestates">
      <img
        src="/assets/playground_assets/ellipse24i555-hnby-200h.png"
        alt="Ellipse24I555"
        class="slide16941-ellipse24"
      />
      <img
        src="/assets/playground_assets/adobestock488243549converted3i555-9zo-200w.png"
        alt="AdobeStock488243549Converted3I555"
        class="slide16941-adobe-stock488243549converted3"
      />
    </div>
    <div class="slide16941-avatar6">
      <img
        src="/assets/playground_assets/ellipse25i555-imid-200h.png"
        alt="Ellipse25I555"
        class="slide16941-ellipse25"
      />
      <img
        src="/assets/playground_assets/adobestock488243549converted4i555-39a8-200w.png"
        alt="AdobeStock488243549Converted4I555"
        class="slide16941-adobe-stock488243549converted4"
      />
    </div>
    <div class="slide16941-avatar7">
      <img
        src="/assets/playground_assets/ellipse26i555-f2nn-200h.png"
        alt="Ellipse26I555"
        class="slide16941-ellipse26"
      />
      <img
        src="/assets/playground_assets/adobestock488243549converted5i555-sjo-200w.png"
        alt="AdobeStock488243549Converted5I555"
        class="slide16941-adobe-stock488243549converted5"
      />
    </div>
    <div class="slide16941-font2">
      <span class="slide16941-text"><span>Choose your avatar</span></span>
    </div>
    <button class="slide16941-nextbutton">
      <img
        src="/assets/playground_assets/rectangle14i555-rlza-200h.png"
        alt="Rectangle14I555"
        class="slide16941-rectangle14"
      />
      <span class="slide16941-text2"><span>Next</span></span>
    </button>
    <div class="slide16941-font33">
      <span class="slide16941-text4"><span>Hello Tejaa!</span></span>
    </div>
  </div>
</div>
