<div class="slide16937-container">
  <div class="slide16937-slide16937">
    <img
      src="/assets/playground_assets/vector5551-fx4e.svg"
      alt="Vector5551"
      class="slide16937-vector"
    />
    <img
      src="/assets/playground_assets/rectangle275551-snqeg-200h.png"
      alt="Rectangle275551"
      class="slide16937-rectangle27"
    />
    <img
      src="/assets/playground_assets/logo01115551-axfo-200h.png"
      alt="Logo01115551"
      class="slide16937-logo0111"
    />
  </div>
</div>
