<div class="slide16936-container">
  <div class="slide16936-slide16936">
    <img
      src="/assets/playground_assets/vector5551-utm.svg"
      alt="Vector5551"
      class="slide16936-vector"
    />
    <img
      src="/assets/playground_assets/rectangle275551-fxsd-400h.png"
      alt="Rectangle275551"
      class="slide16936-rectangle27"
    />
    <img
      src="/assets/playground_assets/logo01115551-7ew5-200h.png"
      alt="Logo01115551"
      class="slide16936-logo0111"
    />
  </div>
</div>
