<div class="slide16940-container">
  <div class="slide16940-slide16940">
    <img
      src="/assets/playground_assets/vector5553-u7be.svg"
      alt="Vector5553"
      class="slide16940-vector"
    />
    <div class="slide16940-textboxes">
      <img
        src="/assets/playground_assets/rectangle14i555-tftn-200h.png"
        alt="Rectangle14I555"
        class="slide16940-rectangle14"
      />
    </div>
    <button class="slide16940-nextbutton">
      <img
        src="/assets/playground_assets/rectangle14i555-um5-200h.png"
        alt="Rectangle14I555"
        class="slide16940-rectangle141"
      />
      <span class="slide16940-text"><span>Next</span></span>
    </button>
    <div class="slide16940-font">
      <span class="slide16940-text2"><span>What is your name</span></span>
    </div>
  </div>
</div>
